V přiloženém excelu máte dvě tabulky. Jedna představuje transakce (objednávky), které proběhly v E-shopu. Druhá představuje databázi produktů v E-shopu.
Ke všem otázkám níže prosím popisujte i postup, jak jste k danému závěru došli. Pro analýzu a prezentaci výsledků využijte nástroje dle vaší volby.
Manager E-shopu se ptá:
1.	Na jaké kategorii produktů máme největší obrat? Mění se na tom v jednotlivých měsících něco?
2.	Který den v týdnu je nejsilnější na počet objednávek?
3.	Od 18. 3. 2022 došlo k navýšení budgetu na online marketingových platformách (Google Ads, Sklik, Facebook). Ovlivnilo to nějak prodeje? A pokud ano, tak jak? (externí vlivy zanedbejme)

Pokud něco ze zadání není jasné, tak se neváhejte zeptat.

In [1]:
import matplotlib.pyplot as plt

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
input_products = "./produkty.csv"
input_transactions = "./transakce.csv"

In [9]:
products_DF = pd.read_csv(input_products,sep = ";")
print(products_DF)

                 Product name          Category  Price
0                JBL Charge 4             Audio   2990
1   Bose QuietComfort Earbuds             Audio   7490
2             Sony WH-1000XM4             Audio  10490
3                 LG OLED55CX          Televize  38990
4            Samsung QN55Q80T          Televize  29990
5                 LG 75NANO81          Televize  44990
6         Apple iPhone 12 Pro  Mobilní telefony  27990
7    Samsung Galaxy S21 Ultra  Mobilní telefony  25490
8          Xiaomi Poco X3 Pro  Mobilní telefony   5690
9              Apple iPad Air           Tablety  17990
10     Samsung Galaxy Tab S7+           Tablety  24990
11         Lenovo Tab P11 Pro           Tablety  11990

In [10]:
transactions_DF = pd.read_csv(input_transactions, sep = ";")
print(transactions_DF)

     Transaction ID        Date               Product name  Quantity
0                 1  01.02.2022           Samsung QN55Q80T         1
1                 1  01.02.2022        Apple iPhone 12 Pro         1
2                 2  02.02.2022         Lenovo Tab P11 Pro         2
3                 2  02.02.2022         Xiaomi Poco X3 Pro         1
4                 3  03.02.2022  Bose QuietComfort Earbuds         2
..              ...         ...                        ...       ...
136              77  27.05.2022                LG 75NANO81         1
137              77  27.05.2022     Samsung Galaxy Tab S7+         1
138              78  29.05.2022  Bose QuietComfort Earbuds         2
139              78  29.05.2022        Apple iPhone 12 Pro         1
140              78  29.05.2022                LG OLED55CX         1

[141 rows x 4 columns]

In [7]:
money_transactions_DF = transactions_DF.copy()

In [14]:
money_transactions_DF = money_transactions_DF.merge(products_DF, how="inner", on="Product name")

In [16]:
money_transactions_DF["Paid amount"] = money_transactions_DF["Price"]*money_transactions_DF["Quantity"]

In [21]:
money_transactions_DF.sort_values(by="Transaction ID")

,Transaction ID,Date,Product name,Quantity,Category,Price,Paid amount
0,1,01.02.2022,Samsung QN55Q80T,1,Televize,29990,29990
10,1,01.02.2022,Apple iPhone 12 Pro,1,Mobilní telefony,27990,27990
30,2,02.02.2022,Xiaomi Poco X3 Pro,1,Mobilní telefony,5690,5690
20,2,02.02.2022,Lenovo Tab P11 Pro,2,Tablety,11990,23980
44,3,03.02.2022,Bose QuietComfort Earbuds,2,Audio,7490,14980
...,...,...,...,...,...,...,...
118,77,27.05.2022,Samsung Galaxy Tab S7+,1,Tablety,24990,24990
140,77,27.05.2022,LG 75NANO81,1,Televize,44990,44990
59,78,29.05.2022,Bose QuietComfort Earbuds,2,Audio,7490,14980
83,78,29.05.2022,LG OLED55CX,1,Televize,38990,38990
19,78,29.05.2022,Apple iPhone 12 Pro,1,Mobilní telefony,27990,27990

In [19]:
money_transactions_DF

,Transaction ID,Date,Product name,Quantity,Category,Price,Paid amount
0,1,01.02.2022,Samsung QN55Q80T,1,Televize,29990,29990
10,1,01.02.2022,Apple iPhone 12 Pro,1,Mobilní telefony,27990,27990
87,29,01.03.2022,JBL Charge 4,2,Audio,2990,5980
20,2,02.02.2022,Lenovo Tab P11 Pro,2,Tablety,11990,23980
30,2,02.02.2022,Xiaomi Poco X3 Pro,1,Mobilní telefony,5690,5690
...,...,...,...,...,...,...,...
83,78,29.05.2022,LG OLED55CX,1,Televize,38990,38990
19,78,29.05.2022,Apple iPhone 12 Pro,1,Mobilní telefony,27990,27990
102,54,30.03.2022,Apple iPad Air,1,Tablety,17990,17990
53,54,30.03.2022,Bose QuietComfort Earbuds,1,Audio,7490,7490
91,54,30.03.2022,JBL Charge 4,2,Audio,2990,5980